<header class="header">
  <h1>Sam Robertson</h1>
  <div class="header-social">
    <ul>
      <li>
        <a href="https://twitter.com/SamuelRobertso6" target="_blank">
          <i class="fab fa-twitter-square"></i>
        </a>
      </li>
      <li>
        <a href="https://github.com/robertsonsamuel" target="_blank">
          <i class="fab fa-github-square"></i>
        </a>
      </li>
      <li>
        <a href="https://www.instagram.com/samuel.robertson93/" target="_blank">
          <i class="fab fa-instagram"></i>
        </a>
      </li>
    </ul>
  </div>

  <div class="container">
    <div class="row">
      <div class="column">
        <div class="card">
          <div class="layer revolution-messaging">
              <a class="overlay-link" href="https://revolutionmessaging.com/"></a>
            <img src="/assets/images/rev_msg.png" alt="">
          </div>
        </div>
      </div>

      <div class="column">
        <h4>Revolution Messaging</h4>
        <p>Currently building the future of the digital political landscape.</p>
      </div>
    </div>
  </div>

</header>