{% include header.html %}

<main class="wrapper">
  <div class="row">
    <div class="column">
      <p>My name is Sam Robertson. I'm a software engineer living in Tokyo 🇯🇵. I build apps and websites but, right now I'm
        on the engineering team at
        <a href="https://www.revolutionmessaging.com">Revolution Messaging</a>.
      </p>

      <p>I've got a
        <a href="#">resume</a> (soon) and a
        <a href="#">blog</a> (soon) you can checkout if you are into those sort of things.</p>
    </div>
  </div>

</main>