// Colors
$hint-opacity:0.8;
$medium-opacity: 0.6;
$light-opacity:0.4;
$white: #FFFFFF;
$black: #000000;
$dark: #333333;
$blue-black: #20222C;
$purple: #430e50;
$blue: #0584ff;
$scrim-grey: #4A4D5E;
$grey: #919699;