---
---
@import 'font-awesome';
@import "./../../node_modules/milligram/dist/milligram.min.css";
@import './../_sass/colors';
@import './../_sass/header';
@import './../_sass/backgrounds';
@import './../_sass/card';
@import './../_sass/wrapper';
@import './../_sass/resume';

body {
  margin: 0 auto;
  background: #bdc3c7;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

a {
  color: $blue;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
